doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script!= "window.APP_PROPS = " + JSON.stringify(props)
    script(src='/bundle.js')